<html lang="en">
	<head>
		<title>
			Account Verification
		</title>
	</head>
	<body>
		<h3>
			Verify Your Account
		</h3>
		<p>
			Hi
			<b>
				{{firstname}}
			</b>
			, thanks for registering an account with us.
		</p>
		<p>
			Please verify your account by clicking this link
			<b>
				<a href="{{link}}">
					verify your account
				</a>
			</b>
		</p>
		<p>
			Kindly note that this link is valid for the next 15 minutes.
		</p>
	</body>
</html>