<html lang="en">
	<head>
		<title>
			Account created Password Notice
		</title>
	</head>
	<body>
		<p>
			Hi
			<b>
				{{firstname}},
			</b>
		</p>
		<p>
			This is your password
			<code>
				{{password}}
			</code>
			Please login with your new credentials and change your password
			<em>
				Thank You.
			</em>
		</p>
	</body>
</html>